/* スライダー */
.fadeIn_up {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 2s;
}

.fadeIn_up.is-show {
  transform: translate(0, 0);
  opacity: 1;
}

.fadeIn_up_top_page {
  width: 100%;
  max-height: 600px;
  background-color: #111111;
  position: relative;
  margin: 50px 0 0 0;
}

@media(max-width: 768px) {

  /* スライダー */
  .slider {
    background-color: #000;
    height: auto;

    width: 100%;
    margin: 0 auto;
  }

  .slick-dots {
    border-bottom: 1px solid black;
  }

  .slick-next:before {
    content: '▶︎';
    color: #fff;
  }

  .slick-next {
    right: 25px;
  }

  .slick-prev {
    left: 3px;
  }

  .slick-prev, .slick-next {
    z-index: 100;
    font-size: 0;
  }

  .slick-prev::before {
    content: '◀︎';
    color: #fff;
  }
}
